# Auto detect text files and perform LF normalization
* text=auto
hardware/kicad/library/3dmodels/IND-SMD_L3.0-W3.0_LVS303015H-2R2M-N.wrl filter=lfs diff=lfs merge=lfs -text
hardware/kicad/library/3dmodels/NN03-310.step filter=lfs diff=lfs merge=lfs -text
hardware/kicad/library/3dmodels/* filter=lfs diff=lfs merge=lfs -text
hardware/kicad/library/3dmodels filter=lfs diff=lfs merge=lfs -text
hardware/kicad/library/3dmodels/NN03-320.step filter=lfs diff=lfs merge=lfs -text
